#like
{
  margin-top:-15px;
  overflow:auto;
  margin-right: -10px;
}

#remove
{
  margin-top: -15px;
  float:right;
  margin-right: 5px;
}

#count{
    margin-top: -20px;
     float:right;
      margin-right: -50px;
}
